# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Env / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg

# Python virtualenv
venv/
.venv/

# Python tooling
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Node / Next.js
node_modules/
.next/
out/
dist/

# npm/yarn/pnpm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turborepo
.turbo/
